services:

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: betteruptime
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./betterstack-rust
    restart: always
    network_mode: "host"
    environment:
      # Using 127.0.0.1 because network_mode: host shares localhost with the host machine
      DATABASE_URL: postgresql://postgres:${DB_PASSWORD}@127.0.0.1:5432/betteruptime
      REDIS_URL: redis://127.0.0.1:6379
      JWT_SECRET: "deepak"
      JWT_EXPIRATION: 24
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: [ "./api" ]

  worker:
    build: ./betterstack-rust
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:${DB_PASSWORD}@db:5432/betteruptime
      REDIS_URL: redis://redis:6379
      REGION_ID: india-mumbai
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: [ "./worker" ]

  pusher:
    build: ./betterstack-rust
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:${DB_PASSWORD}@db:5432/betteruptime
      REDIS_URL: redis://redis:6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: [ "./pusher" ]

volumes:
  postgres_data:
